#ellipse82270890 {
	cx: 139.53489685058594px;
	cy: 139.53489685058594px;
	fill: url(#gradient-linear82270890);
	height: 267.21px;
	left: 141.45px;
	opacity: 0.50;
	position: absolute;
	rx: 139.53489685058594px;
	ry: 139.53489685058594px;
	stroke-width: 0.69767445325851440px;
	stroke-type: BASIC;
	top: 403.05px;
	width: 266.51px;
	z-index: 4;
}